/***** PLippe Udacity Blog Project - Post*****/

@import "button.css";
@import "card.css";
@import "typography.css";

html {font-size: 100%;}

body {font-family: Arial, Helvetica, sans-serif; font-size: .875em; line-height: 1.6em;}


/***** For Small Screens *****/

@media(max-width:900px) {
.container{
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 150px 200px 800px;
    grid-template-areas:
    "hd"
    "sd" 
    "main"
    "ft";
    margin: 10px;
  }
  img.responsive {width: 150px;}
}

    .nestedGrid{
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 100%;
      grid-gap: 2em;
      border: 10px #333;
      padding: 20px;
    }
  
    .container img {
      max-height: 300px;
      max-width: auto;
      padding: 1em;
    }

    .box {font-family: Arial, Helvetica, sans-serif;}

    .item {
      border: 10px #333;
      padding: 10px;
    }

    .header{
        grid-area:hd;
        line-height: 3.2em;
        text-align: center;
        padding: 2em;
    }

    .footer{
        grid-area: ft;
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: space-evenly;
        padding: 1em;
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        background-color:#333;
        color: #fff; 
        text-align: center;
    }

    .footer img {max-height: 50px; max-width: auto;} 

    .sidebar {grid-area: sd;}

    .content{
        grid-area: main;
        padding: 0, 1em, 0 1em;   
    }

    #figure {float:left;}

/***** If Screen Is Wide *****/

@media(min-width:900px) {
.container{
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: 150px 700px 100px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft";
    margin: 0px 10px 5px 10px;
}
}