/***** PLippe Udacity Blog Project - Main *****/

@import "button.css";
@import "card.css";
@import "typography.css";

html {font-size: 100%;}

body {font-family: Arial, Helvetica, sans-serif; font-size: .875em; line-height: 1.6em;}


/***** For Small Screens *****/

@media(max-width:900px) {
.container{
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 150px 200px 800px;
    grid-template-areas:
    "hd"
    "sd" 
    "main"
    "ft";
    margin: 0px 10px 5px 10px;
  }
}
    .nestedGrid{
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 33% 33% 33%;
      grid-gap: 2em;
    }
    .nestedGrid > *{
      border: 1px #333;
      padding: 10px;
    }

    .container img {
      max-height: 125px;
      max-width: auto;
    }

    .box {font-family: Arial, Helvetica, sans-serif;}

    .header{
        grid-area:hd;
        line-height: 3.2em;
        text-align: center;
        padding-top: 20px;
    }

    .footer{
        grid-area: ft;
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: space-evenly;
        padding: 1em;
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        background-color:#333;
        color: #fff; 
        text-align: center;
    }

    .footer img {max-height: 50px; max-width: auto;} 

    .sidebar {grid-area: sd;}

    .content {grid-area: main;}
    
    .item {align-self: baseline;}

    #figure {float:right;}


/***** If Screen Is Wide *****/

@media(min-width:900px) {
.container{
    display: grid;
    grid-template-columns: 150px 200px;
    grid-template-rows: 150px 700px 100px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft";
    margin: 0px 10px 5px 10px;
}
}