/***** PLippe Udacity Blog Project 2 *****/

html {
	font-size: 100%;
}

body {	font-family: Arial, Helvetica, sans-serif;
		font-size: .875em;
	    line-height: 1.6em;
}

/***** For Small Screens *****/

@media(max-width:900px) {
.container{
    display:grid;
    grid-template-columns: 600px;
    grid-template-rows: 100px 200px 500px;
    grid-column-gap: 10px
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-areas:
    "hd"
    "sd" 
    "main"
    "ft";
    padding: 5px 10px 20px 10px;
  }
 .Site {display: flex;
    min-height: 100vh;
    flex-direction: column;
    }
  .Site-content { 
    flex: 1;
    }
}

    .nestedGrid{
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 33% 33% 33%;
      grid-gap: 2ex;
    }
    .nestedGrid > *{
      border: 1px #333;
      padding: 10px;
    }

    .container img {
      max-height: 125px;
      max-width: auto;
    }

    .box{
      font-family: Arial, Helvetica, sans-serif;
    }

    .header{
        grid-area:hd;
        line-height: 3.2em;
        text-align: center;
        vertical-align: top;
    }

    .footer{
        grid-area: ft;
        text-align: center;
        margin: 4ex;
    }

    .sidebar{
        grid-area: sd;
     }

    .content{
        grid-area: main;
    }
      
    .card {
      background-color: #CCC;
      border: 2px solid #666;
      padding: 5px;
      border-radius: .25rem;
      width: 90%;
      min-height: 150px;
    }

    .content {
      padding: 10px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .button {
      background-color: #ffff99;
      border: 1px solid #333;
      border-radius: .15rem;
      padding: 2px;
      margin: 0px, 10px, 0px, 10px;
      width: 75%;
      cursor: pointer;
  }

/***** Typography *****/

.no_display {display: none;}

h1, h2, h3, h4 { font-family: Arial, Helvetica, sans-serif; font-weight: normal } 

h1 {font-size: 3em; padding: 20px; color: #000; font-family: cursive; font-weight: bold;}

h2 {font-size: 1.5em; color: #333; font-weight: normal; text-transform: uppercase}

h3 {font-size: 1.5em; color: #333; font-weight: normal;}

h4 {font-size: 1.2em; font-weight: lighter}

p {
	padding: 10px 0;
	font-size: 1em;
}

blockquote {font-family: "Source Sans Pro", "Arial", sans-serif; font-style: italic; margin: 10px 0;}

a:visited {
	color: #6633cc;
	border-bottom: 1px solid transparent;
}
a:hover {
  font-weight: bold;
}

/***** If Screen Is Wide *****/

@media(min-width:900px) {
.container{
    display:grid;
    grid-template-columns: 100px, 300px, 300px;
    grid-template-rows: 100px 600px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft";
    padding: 10px 20px 30px 20px;
}
  .Site {display: flex; 
      min-height: 100vh;
      flex-direction: column-reverse;
   }
  .Site-content { 
      flex: 3;
    }
}